apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "consumer-chart.fullname" . }}
  labels:
    {{- include "consumer-chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "consumer-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "consumer-chart.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "consumer-chart.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ include "consumer-chart.name" . }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "consumer-chart.name" . }}
          env:
            - name: CONSUMER_CA
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.cert.leafSecret }}
                  key: ca.crt
                  optional: false
            - name: CONSUMER_CRT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.cert.leafSecret }}
                  key: tls.crt
                  optional: false
            - name: CONSUMER_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.cert.leafSecret }}
                  key: tls.key
                  optional: false
            - name: MESSAGE_QUEUE_CA
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.messageQueue.brokerCertSecret }}
                  key: ca.crt
                  optional: false
            - name: MESSAGE_QUEUE_CRT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.messageQueue.clientCertSecret }}
                  key: user.crt
                  optional: false
            - name: MESSAGE_QUEUE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.messageQueue.clientCertSecret }}
                  key: user.key
                  optional: false
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
