apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "consumer-chart.labels" . | nindent 4 }}
  name: {{ include "consumer-chart.name" . }}-healthcheck
spec:
  ports:
    - port: 50051
      protocol: TCP
      targetPort: 50051
  selector:
    {{ include "consumer-chart.selectorLabels" . | nindent 4 }}
  type: ClusterIP